.li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
}

.titleQty{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.titleQty a{
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
}

.liCartImage{
    display: block;
    width: fit-content;
    max-width: 150px;
    max-height: 150px;
    position: relative;
    margin: 0 auto;
}
@media (min-width: 768px){
    .liCartImage{
        max-width: 200px;
        max-height: 200px;
    }
}