.container{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.container label{
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 1.2rem;
}
.container input{
    font-size: 1.2rem;
    line-height: 2;
}

.containerBoton{
    width: 90%;
    margin: 10px auto;
    text-align: center;
}
.containerBoton button{
    font-size: 1.4rem;
    padding: 10px;
    width: 90%;
    background-color: var(--verde);
    color: #fff;
    border: 1px solid var(--gris);
    border-radius: 30px;
}

.containerForgot{
    width: 90%;
    margin: 20px auto;
}
.containerForgot p{
    text-align: right;
    font-size: 1.2rem;
}
.containerForgot a{
    color: var(--gris-medio);
    font-weight: 600;
    text-decoration: none;
}