*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --verde: #00c9a7;
  --verde-medio: #009c82;
  --celeste-oscuro: #349b9e;
  --celeste: #37bdc2;
  --violeta: #845EC2;
  --gris: #353d47;
  --gris-claro: #e5e7eb;
  --gris-medio: #828784;
}

.stop-scroll{
  overflow: hidden;
}