.mainContainer h1{
    font-size: 1.6rem;
}

.mainContainer .titles{
    width: 90%;
    margin: 15px auto;
}
.mainContainer .titles h1{
    margin: 10px auto;
}
.mainContainer .titles p{
    margin: 10px auto;
}
.mainContainer .titles a{
    color: var(--verde);
    text-decoration: none;
    font-weight: 600;
}

.formContainer{
    width: 95%;
    margin: 30px auto;
}

.sectionContainer{
    width: 100vw;
    margin: 30px auto;
}
.sectionContainer h3{
    font-size: 1.3rem;
    width: fit-content;
    margin-left: 20px;
}

.iconContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.iconContainer svg{
    margin-left: 30px;
    font-size: 1.6rem;
    fill: var(--verde);
}

.registerHere{
    width: 90%;
    margin: 20px auto 10px;
}
.registerHere a{
    color: var(--verde);
    font-weight: 600;
    text-decoration: none;
}