/* BANNER SECTION */

.bannerImageContainer{
    height: 35vh;
    position: relative;
}

.bannerImage{
    width: 100%;
    height: 100%;
    object-fit: none;
}

.bannerTextContainer{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.bannerTextContainer h1{
    font-size: 2rem;
    background-color: var(--verde);
    width: fit-content;
    color: #fff;
    padding: 10px;
    margin-bottom: 15px;
}
.bannerTextContainer p{
    font-size: 1.1rem;
    background-color: var(--gris-claro);
    margin-bottom: 4px;
    padding: 3px;
    width: fit-content;
}

.bannerInfoContainer{
    height: 35vh;
    position: relative;
    background-color: var(--celeste-oscuro);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    text-align: center;
}

.bannerInfoContainer .bannerLogo h2{
    margin-top: 15px;
}
.bannerInfoContainer .bannerText p{
    font-size: 1.1rem;
}
.bannerInfoContainer .bannerText a{
    font-size: 1.4rem;
    display: block;
    width: fit-content;
    color: #fff;
    text-decoration: none;
    background-color: var(--gris);
    padding: 6px 20px;
    margin: 10px auto 0px;
    border: none;
    border-radius: 10px;
}

/* END BANNER SECTION */
/* CARD SECTION */
.h2SecondCar{
    display: none;
}
.secondCard{
    display: none;
    margin-top: 20px;
    border-radius: 0;
    box-shadow: none !important;
}
.secondCard div:nth-child(1){
    background-size: contain;
}
.card{
    margin-top: 20px;
    border-radius: 0;
    box-shadow: none !important;
}
.card div:nth-child(1){
    background-size: contain;
}
.cardMedia{
    height: 30vh;
}
.cardContent{
    border: none;
}
.cardContent h2{
    color: var(--verde);
}
.infoContainer{
    margin-bottom: 30px;
}
.infoContainer a{
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    background-color: var(--violeta);
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 13px;
}

/* END CARD SECTION */
/* CATEGORIES SECTION */

.categoriesImageContainer{
    height: 30vh;
    position: relative;
}

.categoriesTextContainer{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.categoriesTextContainer h2{
    font-size: 1.5rem;
    background-color: var(--gris-claro);
    width: fit-content;
    color: #000;
    padding: 10px;
    margin-bottom: 15px;
}

/* END CATEGORIES SECTION */

@media (min-width: 500px){
    /* BANNER SECTION */

    .bannerImageContainer{
        height: 40vh;
    }

    /* END BANNER SECTION */
    /* CARD SECTION */

    .newReleasesContainer{
        display: flex;
        justify-content: space-around;
    }

    .card{
        max-width: 2000px;
        width: 45%;
        margin: 10px auto 0px;
    }

    .h2SecondCar{
        display: block;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        margin: 20px auto;
    }
    .secondCard{
        display: block !important;
        position: relative;
        max-width: 2000px;
        width: 45%;
        margin: 10px auto 0px;
    }
    .secondCard div:nth-child(1){
        background-size: cover;
    }
    .secondCard .cardMedia{
        width: 100%;
        height: 90%;
    }
    .secondCard .cardContent{
        position: absolute;
        bottom: 50px;
        left: 10px;
        background-color: rgba(255,255,255,0.7);
        padding: 5px;
        width: 90%;
        margin: 0 auto;
        text-decoration: none;
        color: #000;
    }

    /* END CARD SECTION */

    /* CATEGORIES SECTION */

    .sectionCategories .listContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* END CATEGORIES SECTION */

}

@media (min-width: 768px){
    /* CATEGORIES SECTION */

    .sectionCategories .listContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* END CATEGORIES SECTION */
}

@media (min-width: 1366px){
    .bannerImageContainer{
        height: 55vh;
    }
    .bannerInfoContainer{
        height: 35vh;
    }
    .bannerInfoContainer .bannerLogo h2{
        font-size: 2rem;
    }
    .bannerInfoContainer .bannerText p{
        font-size: 1.2rem;
    }
}
