.sidebarIcons{
    color: #000;
    margin-right: 10px;
}

.modalContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: #fff;
    box-shadow: 24;
    padding: 10px;
}

.modalContainer h2{
    text-align: center;
    margin: 5px auto;
    font-size: 1.3rem;
}
.modalContainer form{
    margin: 20px auto;
}
.modalContainer form button{
    background-color: var(--violeta);
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    width: 100px;
    margin: 10px 0 0;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
}
.input{
    width: 100%;
    margin: 10px 0;
}
.inputContainer{
    margin: 10px auto;
}

.logoutButtonContainer{
    display: flex;
    width: 80%;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 0px auto;
}
.logoutButtonContainer button{
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid var(--gris-claro);
    border-radius: 10px;
}
.logoutButtonContainer button:nth-child(1){
    background-color: rgb(255, 83, 83);
    color: #fff;
}