.h1Container{
    margin: 30px auto;
    width: 100vw;
}
.h1Container h1{
    text-align: center;
}

.imgContainer{
    position: relative;
    width: 90vw;
    height: 30vh;
    margin: 10px auto;
}

.infoContainer{
    margin: 10px;
}

.infoContainer .divRatingStars{
    display: flex;
    justify-content: flex-start;
}

.infoContainer .description{
    max-height: 10vh;
    overflow: auto;
    margin: 20px auto;
    font-size: 1rem;
}

.infoContainer .amountContainer{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 20px auto;
}
.infoContainer .amountContainer p{
    font-size: 1.2rem;
}
.infoContainer .amountQty{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--gris-claro);
    width: fit-content;
    min-width: 150px;
    min-height: 50px;
    border-radius: 15px;
}
.infoContainer .amountQty p{
    font-size: 1.2rem;
    font-weight: 600;
}
.infoContainer .amountQty button{
    font-size: 1.6rem;
    background-color: transparent;
    color: var(--verde);
    padding: 5px;
    border-radius: 5px;
    border: none;
    min-width: 50px;
}
.infoContainer .amountQty button:nth-child(1){
    color: rgb(185, 71, 71);
}
.infoContainer .amountContainer p{
    width: 50%;
}

.infoContainer .actionButtons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
}
.infoContainer .actionButtons .buyNow{
    background-color: var(--verde);
    color: #fff;
    font-size: 1.4rem;
    padding: 10px;
    min-width: 150px;
    border-radius: 15px;
    border: none;
}
.infoContainer .actionButtons .qtyAddToCart{
    border: 1px solid var(--verde);
    color: var(--verde);
    background-color: transparent;
    font-size: 1.4rem;
    padding: 10px;
    min-width: 150px;
    border-radius: 15px;
}
.infoContainer .actionButtons .qtyAddToCartLink{
    border: 1px solid var(--verde);
    color: var(--verde);
    background-color: transparent;
    font-size: 1.4rem;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    min-width: 150px;
    border-radius: 15px;
    text-decoration: none;
}