.bannerImageContainer{
    height: 35vh;
    position: relative;
    margin-bottom: 30px;
}
.bannerImage{
    width: 100%;
    height: 100%;
    object-fit: center;
}
.bannerTextContainer{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.bannerTextContainer h1{
    background-color: var(--gris-claro);
    width: fit-content;
    padding: 3px;
    font-size: 1.7rem;
}
.bannerTextContainer h2{
    background-color: var(--gris);
    color: #fff;
    width: fit-content;
    padding: 3px;
    font-size: 1.3rem;
    margin-top: 4px;
}

.category{
    min-width: 100px;
    margin: 5px 0 0 20px !important;
}
.category label{
    color: var(--violeta) !important;
    font-weight: 600;
}
.category fieldset{
    border-color: var(--violeta) !important;
}

@media (min-width: 500px){
    .bannerImageContainer{
        height: 45vh;
        position: relative;
        margin-bottom: 30px;
    }

    .productListContainer{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 1366px){
    .bannerImageContainer{
        height: 55vh;
    }
}