/* PROFILE COMPONENT */
.profileContainer nav{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: var(--gris-claro);
}

.profileContainer nav div{
    background-color: var(--verde-medio);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
}
.profileContainer nav div h2{
    font-size: 1.2rem;
    color: #fff;
}

.profileContainer nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 100%;
}
.profileContainer nav ul li{
    border: 1px solid var(--gris);
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: var(--celeste);
}
.profileContainer nav ul li:nth-child(1){
    background-color: var(--celeste-oscuro);
}


/* PERSONAL DETAILS & ORDERS COMPONENT */
.personalDetailsOrdersDiv{
    padding: 10px;
    background-color: var(--gris-claro);
    padding-bottom: 15px;
}
.personalDetailsOrdersDiv h2{
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.personalDetailsOrdersDiv .infoContainer{
    background-color: #fff;
    padding: 10px;
}

.personalDetailsOrdersDiv .infoContainer .boxLayout{
    margin: 15px auto;
}
.personalDetailsOrdersDiv .infoContainer .boxLayout p{
    margin: 10px auto;
}
.personalDetailsOrdersDiv .infoContainer .boxLayout button{
    background: none;
    border: none;
    text-decoration: underline;
    color: var(--gris);
    font-size: 1rem;
}