.container{
    display: flex !important;
    flex-direction: row;
    align-items: center !important;
    justify-content: flex-start !important;
    width: 100%;
}
.container span{
    color: var(--verde);
    font-size: 1.4rem;
}
.container p{
    font-weight: 600;
    margin-left: 10px;
    display: inline !important;
}