.mainContainer h1{
    font-size: 1.6rem;
}

.mainContainer .titles{
    width: 90%;
    margin: 15px auto;
}
.mainContainer .titles h1{
    margin: 10px auto;
}
.mainContainer .titles p{
    margin: 10px auto;
}
.mainContainer .titles a{
    color: var(--verde);
    text-decoration: none;
    font-weight: 600;
}

.formContainer{
    width: 95%;
    margin: 30px auto;
}

.sectionContainer{
    width: 100vw;
    margin: 30px auto;
}
.sectionContainer h3{
    font-size: 1.3rem;
    width: 90%;
    margin: 0px auto;
}