.container{
    position: absolute !important;
    z-index: 10;
    background-color: var(--verde);
    border: none;
    color: #000;
    font-size: 1.3rem;
    height: 100dvh;
    display: none;
}
.container div{
    background-color: transparent;
}

.headerContainer{
    background-color: var(--verde);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 70%;
    height: 7vh;
}
.headerContainer a{
    place-self: center;
    color: #000;
}
.headerContainer span{
    place-self: center;
}
.icon{
    display: none;
}
.sidebarLinks{
    text-decoration: none;
    color: #000;
    text-align: center;
}

.sidebarLogoContainer{
    margin: 20px auto;
}
.sidebarLogoContainer, .sidebarLogoContainer a{
    display: grid;
    width: 100%;
}
.sidebarLogoContainer svg{
    place-self: center;
}
.menu{
    position: relative;
    z-index: 5;
    background-color: #fff;
}
.menu:nth-child(1){
    margin: 15px;
}
.copy{
    position: absolute !important;
    bottom: 3vh;
    width: 100%;
    text-align: center;
    z-index: 3;
}
.copy h4{
    margin-top: 20px;
}
.sidebarIcons{
    color: #000;
    margin-right: 10px;
}

.userMenu{
    width: 100%;
}
.userMenu a{
    width: 100%;
}
.userMenu a span{
    display: flex;
    align-items: center;
}


@media (min-width: 500px){
    .container{
        background-color: transparent;
        border: none;
    }
    .menu{
        width: 40vw;
        background-color: var(--verde);
    }
    .menu:nth-child(1){
        margin: 0;
    }
    .headerContainer{
        grid-template-columns: 10% 45% 15% 15% 15%;
        height: 5vh;
    }
    .icon{
        place-self: center;
        width: 100%;
        font-size: 1.8rem;
        display: block;
    }
    .iconContainer{
        display: grid;
    }

    .sidebarLogoContainer{
        display: none;
    }
}

@media (min-width: 768px){
    .menu{
        width: 30vw;
    }
}
@media (min-width: 992px){
    .menu{
        width: 25vw;
    }
}
@media (min-width: 1200px){
    .menu{
        width: 20vw;
    }
}
@media (min-width: 1400px){
    .menu{
        width: 15vw;
    }
}